.container {
  display: flex;
  flex-direction: column;
  width: 49%;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.incomeExpenseSum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.doughnutContainer {
  width: 100%;
  background-color: #f5f5f5;
  height: 1px;
  margin: 10px 0;
  align-items: center;
}
.doughnutLabelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
}
.doughnutSize {
  max-height: 20vh;
  max-width: 20vw;
}

.labelContainer {
  display: flex;
  align-items: center;
}

.secondLabelContainer {
  display: flex;
  align-items: center;
  width: 150px;
}

.eachCategory {
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
}

.extraInfo {
  width: 70px;
}
