.container {
  width: 100vw;
  height: 95vh;
  background-color: #e8e8e8;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recordListContainer {
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.BarsContainer {
  width: 100%;
  color: #000;
}

.cardContainer {
  padding-top: 10px;
}
