.container {
  width: 100vw;
  height: 10px;
  background-color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}
.recDashbuttonContainer {
  display: flex;
  justify-content: space-between;
  width: 15vw;
}
.button {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
}
.buttonContainer {
  display: flex;
  gap: 30px;
}

.postButton {
  border: none;
  color: white;
  background-color: #0166ff;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 5px;
}

.logOut {
  padding: 15px;
  background-color: #0166ff;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
