.container {
  display: flex;
  gap: 5px;
  font-family: sans-serif;
  border-bottom: 1px #d2d4d2 solid;
  padding-bottom: 5px;
  padding-top: 5px;
  align-items: center;
}
.iconContainer {
  width: 30px;
  height: 30px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.recordInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.amountType {
  display: flex;
  align-items: center;
}
