.container {
  width: 25vw;
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.typeContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.typeSmallContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.eachTypeSyle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkboxInput {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.checkboxInput:checked {
  background-color: #007bff;
}

.categoryContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  
}

.EachCategoryStyle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
}
