.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.leftSide {
  background-color: white;
  display: flex;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: sans-serif;
  gap: 50px;
}

.ButtonStyle {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  font-size: 13px;
}

.welcomingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex-direction: column;
  gap: 40px;
  top: 20vh;
}

.iconNameContainer {
  display: flex;
  gap: 10px;
}

.message {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p {
  font-size: 20px;
  display: flex;
}

.p2 {
  color: #334155;
}

.goToLogin {
  color: #0166ff;
}

.rightSide {
  width: 50vw;
  height: 100vh;
  background: #0166ff;
}
