.button {
  transition: background-color 0.5s ease;
  cursor: pointer;
  color: black;
  width: 12vw;
  border-radius: 30px;
  border: none;
}

.container {
  font-family: sans-serif;
  display: flex;
  padding: 30px;
  justify-content: center;
}

.navbar {
  width: 50vw;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 0;
}

.closeButton {
  background-color: white;
  color: black;
  border: none;
}

.incomeExpenseSelectContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #f3f4f6;
  width: 20vw;
  height: 4vh;
  border-radius: 30px;
}

.amountCategoryInput {
  background-color: #d1d5db;
  border: none;
  color: black;
  padding: 15px;
  width: 20vw;
  border-radius: 10px;
}

.date {
  background-color: #d1d5db;
  border: none;
  padding: 15px;
  color: black;
  width: 20vw;
  border-radius: 10px;
}

.addRecord {
  transition: background-color 0.5s ease;
  background-color: #0166ff;
  width: 20vw;
  height: 3vh;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.noteTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.title {
  background-color: #d1d5db;
  border: none;
  padding: 15px;
  color: black;
  width: 20vw;
  border-radius: 10px;
}

.note {
  background-color: #d1d5db;
  width: 20vw;
  height: 25vh;
  border-radius: 20px;
  padding: 25px;
  border: none;
  color: black;
}

.valueContainer {
  display: flex;
  gap: 2vw;
  padding-top: 20px;
}

.eachValue {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.smallContainer {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
